<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Konter"
        tools:targetApi="31">
        <activity
            android:name=".katalog.aksesoris.LainnyaKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.aksesoris.ChargerKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.aksesoris.HeadsetKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".KatalogAksesorisActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.ByuKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.SmartfrenKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.TriKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.AxisKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.XLKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.IndosatKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.perdana.TelkomselKartuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".KatalogKartuPerdanaActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.ByuKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.SmartfrenKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.TriKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.IndosatKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.AxisKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.XLKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".KatalogVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaByuActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaSmartfrenActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaTriActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaAxisActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaXLActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaIndosatActivity"
            android:exported="false" />
        <activity
            android:name=".kartu.PerdanaTelkomselActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.UpdateVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".katalog.voucher.TelkomselKatalogActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.ByuActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.XLActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.SmartfrenActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.AxisActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.TriActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.IndosatActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".voucher.TelkomselActivity"
            android:exported="false" />
        <activity
            android:name=".AksesorisActivity"
            android:exported="false" />
        <activity
            android:name=".KartuPerdanaActivity"
            android:exported="false" />
        <activity
            android:name=".VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>